.active_video_icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  
    .fa-caret-right{
        font-size: 2.5rem;
        color: black;
    }
}
@media screen and (max-width: 390px) {
    .active_video_icon{
       
      
       
    }
}