.home_container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
  .home-container_right{
    margin-left: 100px;
  }
  }

/** Mobile layout **/
@media screen and (max-width: 375px) {
  .home_container {
  padding: 15px;
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
  .home-container_right{
    margin: 0 auto;
  }
  }

}